.anime-under-title {
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.anime-under-title > li::before {
    content: "\00a0• ";
}
.anime-under-title > li:first-child::before {
    content: "";
}
