.anime-staff {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.anime-staff-card {
    width: 365px;
    height: 150px;
    background-color: #2c2c2c;
    border-radius: 10px;
    display: flex;
    position: relative;
}
.anime-staff-card-img {
    border-radius: 10px;
    height: 150px;
    width: 100px;
    object-fit: cover;
}
.anime-staff-card-info-wrap {
    padding: 10px;
}
.anime-staff-card-name {
    margin: 0;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.anime-staff-card-role {
    position: absolute;
    bottom: 5px;
}
.anime-staff-toggle,
.anime-staff-toggle:link,
.anime-staff-toggle:visited {
    color: #ffffff;
    text-decoration: none;
}
.anime-staff-toggle:hover {
    color: #e4e4e4;
}
