.anime-cover {
    width: 345px;
    height: 450px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.main-section {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.anime-main-left {
    width: 345px;
}
.anime-main-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.anime-main-desc {
    margin: 5px 0 0 0;
}
